<h2 class="section-title">{{ .titles.about }}</h2>

<div>
  <p style="float: left;">
    <img src="./img/DSC09151_3s.jpg" alt="Krzysztof Pawałowski"
	 style="margin:0px 50px">
  </p>
  <p>
    <b>kpa70</b> is the conference celebrating the 70th
    birthday of Prof. Krzysztof M. Pawałowski.
  </p>
  <p>
    The main topic of the conference - broadly understood smooth group
    actions on manifolds - reflects mathematical interests of Krzysztof Pawałowski.
  </p>

  <p>
    The conference will be held in an online format via Zoom.
    If you like to participate in the conference please register (see below).
  </p>

  <p>
    We are also very happy to announce that another conference celebrating the 70th birthday of
    Prof. Krzysztof M. Pawałowski, organized by Prof. Takao Satoh (Tokyo University of Science)
    and Prof. Shintaro Kuroki (Okayama University of Science) will be held in Fabruary. See the details here:

    <a href="https://www.rs.tus.ac.jp/math2/math2/tsatoh/tsatoh-homepage/kpa70+_2_2021.html" target="_blank">link to the conference "kpa70+"</a>.
  </p>



</div>

<div>
  <h4>Registration</h4>
  <p>In order to register for the conference please e-mail Piotr
    Mizerka: <dfn>piotr dot mizerka at amu dot edu dot pl</dfn> or
    Agnieszka Stelmaszyk-Śmierzchalska: <dfn>as-s at amu dot edu dot pl</dfn>.
    Please remember to include the conference name in the title.
  </p>
</div>

<div>
  <h4>Organizers</h4>
  <p>
    Marek Kaluba, e-mail: <dfn>kalmar at amu dot edu dot pl</dfn>,<br />
    Wojciech Politarczyk, e-mail: <dfn>w dot politarczyk at mimuw dot edu dot pl</dfn>,<br />
    Bartosz Biadasiewicz, e-mail: <dfn>bartosz dot biadasiewicz at amu dot edu
    dot pl</dfn>,<br />
    Łukasz Michalak, e-mail: <dfn>lukasz dot michalak at amu dot edu
    dot pl</dfn>,<br />
    Piotr Mizerka e-mail: <dfn>piotr dot mizerka at amu dot edu dot
      pl</dfn>,<br />
    Agnieszka Stelmaszyk-Śmierzchalska: e-mail: <dfn>as-s at amu dot edu dot pl</dfn>.
  </p>
</div>

<!-- <p itemprop="description"> -->
<!--   <img src="./img/DSC09144_3s.jpg" alt="Krzysztof Pawałowski" itemprop="image"> -->
<!--   The conference celebrates the 70th birthday of Prof. Krzystof -->
<!--   Pawałowski. -->
<!--   The scope of the conference reflects mathematical interests of -->
<!--   Krzysztof Pawałowski.  -->
<!-- </p> -->

<!-- <p><b>Registration.</b><br /> -->
<!--   Lalalala -->
<!-- </p> -->


<!-- <p><b>Organizers:</b> -->
<!--   <ul> -->
<!--     <li>Marek Kaluba</li> -->
<!--     <li>Wojciech Politarczyk</li> -->
<!--     <li>Piotr Mizerka</li> -->
<!--     <li>Bartosz Biadasiewicz</li> -->
<!--   </ul> -->
<!-- </p> -->

<!-- <p>That's why we created this project! <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">Conf Boilerplate</a> is an iniciative of <a href="http://braziljs.org" target="_blank">BrazilJS Foundation</a> that provides a simple structure built on top of Docpad, a static generator in NodeJS, with all the things you need to create a event. We also provide a responsive template with i18n!</p> -->

<!-- <p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p> -->
