<h2 class="section-title">{{ .titles.schedule }}</h2>

<div class="schedule-tbl" >
  <table id="myTable">
    <thead>
      <tr>
        <th class="schedule-time">Time (Washington/Warsaw/Tokyo)</th>
        <th class="schedule-slot">Title and speaker</th>
        <th class="schedule-description">Abstract</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            <!-- {{ with .photo }} -->
            <!--   <span class="speaker-photo"> -->
            <!--     <img class="photo" src="{{ . }}" alt="{{ $slot.name }}"> -->
            <!--   </span> -->
            <!-- {{ end }} -->

              <b>{{ .presentation.title }}</b>, {{ .name }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            <td class="schedule-description"><a href="{{ .presentation.description }}" target = "_blank" style="font-size: 18px;">pdf</a></td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>

<script>
  function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      // Check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        // If so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
sortTable();
</script>
